<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/authentication/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentification réussie</title>
</head>
<body>
    <div class="message">
        <p class="big-message">Bonjour <%= user.firstName %> !</p>
        <p class="sub-message">Vous pouvez maintenant retourner discuter avec l'Assistant UTT.</p>
    </div>
</body>
</html>