<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/authentication/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentification échouée</title>
</head>
<body>
    <div class="message">
        <p class="big-message">Aïe ! L'authentification a echoué !</p>
        <p class="sub-message">Veuillez ressayer...</p>
    </div>
</body>
</html>